.sidebar-wrapper :global{
  .alphabet{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-align: center;
    padding: 30px 0;
    .letter{
      min-width: 30px;
      min-height: 30px;
      margin: 3px;
    }
  }

}
