.country-details-wrapper :global{
  a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .country-details{
    display: flex;
    justify-content: center;
    .flag{
      border: 1px solid;
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
  }
}