.App :global {

  .App-header {
    background-color: #b4c6e9;
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #09d3ac;
  }

  .add-new-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    margin-left: 30px;
  }
  .ant-input-search.ant-input-affix-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .ant-input {
      width: 100% !important;
      height: 25px !important;
      font-size: 16px;
    }
    .ant-input-suffix i {
      color: #96a2aa;
      display: flex;
      right: 4px;
      top: -5px;
      position: absolute;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  .main-page-content {
    display: grid;
    grid-template-columns: 180px 4fr;
    grid-gap: 10px;
    height: 100vh;
  }
  @media screen and (max-width: 600px) {
    .main-page-content {
      display: flex;
      flex-direction: column;
    }
  }
}
